<div class="card justify-c l bold p-16">
  <h1>Edit Tweet</h1>
</div>
<div class="card">
  <%= form_with model: @tweet, url: { action: "update" } do |form| %>
    <div class="card-inside center">
      <div class="txt-left">
        <p>Body</p>
      </div>
      <%= form.text_area :body ,placeholder: "Remember to think before write ..." ,class: "card-ar" %>
      <%= form.submit  "Edit",class: "btn btn--primary btn--fit-content" %>
    </div>
  <% end %>
</div>
